<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>User</title>
</head>
<body>
<form th:method="POST"th:action="@{/admin/newUserAdmin}"th:object="${newUser}" >
    <br><br>
    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="department">Enter Department:</label>
    <input type="text" th:field="*{department}" id="department"/>
    <br><br>
    <label for="email">Enter Email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <label for="password">Enter Password:</label>
    <input type="text" th:field="*{password}" id="password"/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${roleList}"
                   th:text="${role.getName()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>


    <input type="submit" value="Добавить"/>




</form>
</body>
</html>